auto_sync_android.log
auto_sync_kernel.log
bootable/bootloader/uboot/System.map
bootable/bootloader/uboot/api/libapi.a
bootable/bootloader/uboot/arch/arm/cpu/arm_cortexa9/.depend
bootable/bootloader/uboot/arch/arm/cpu/arm_cortexa9/cpu.o
bootable/bootloader/uboot/arch/arm/cpu/arm_cortexa9/libarm_cortexa9.a
bootable/bootloader/uboot/arch/arm/cpu/arm_cortexa9/start.o
bootable/bootloader/uboot/arch/arm/include/asm/arch
bootable/bootloader/uboot/arch/arm/include/asm/proc
bootable/bootloader/uboot/arch/arm/lib/.depend
bootable/bootloader/uboot/arch/arm/lib/_ashldi3.o
bootable/bootloader/uboot/arch/arm/lib/_ashrdi3.o
bootable/bootloader/uboot/arch/arm/lib/_divsi3.o
bootable/bootloader/uboot/arch/arm/lib/_lshrdi3.o
bootable/bootloader/uboot/arch/arm/lib/_modsi3.o
bootable/bootloader/uboot/arch/arm/lib/_udivsi3.o
bootable/bootloader/uboot/arch/arm/lib/_umodsi3.o
bootable/bootloader/uboot/arch/arm/lib/board.o
bootable/bootloader/uboot/arch/arm/lib/bootm.o
bootable/bootloader/uboot/arch/arm/lib/cache-cp15.o
bootable/bootloader/uboot/arch/arm/lib/cache.o
bootable/bootloader/uboot/arch/arm/lib/div0.o
bootable/bootloader/uboot/arch/arm/lib/eabi_compat.o
bootable/bootloader/uboot/arch/arm/lib/interrupts.o
bootable/bootloader/uboot/arch/arm/lib/libarm.a
bootable/bootloader/uboot/arch/arm/lib/libgcc.a
bootable/bootloader/uboot/arch/arm/lib/reset.o
bootable/bootloader/uboot/common/.depend
bootable/bootloader/uboot/common/cmd_boot.o
bootable/bootloader/uboot/common/cmd_bootm.o
bootable/bootloader/uboot/common/cmd_help.o
bootable/bootloader/uboot/common/cmd_nvedit.o
bootable/bootloader/uboot/common/cmd_pcmcia.o
bootable/bootloader/uboot/common/cmd_version.o
bootable/bootloader/uboot/common/command.o
bootable/bootloader/uboot/common/console.o
bootable/bootloader/uboot/common/dlmalloc.o
bootable/bootloader/uboot/common/env_common.o
bootable/bootloader/uboot/common/env_nowhere.o
bootable/bootloader/uboot/common/exports.o
bootable/bootloader/uboot/common/flash.o
bootable/bootloader/uboot/common/image.o
bootable/bootloader/uboot/common/libcommon.a
bootable/bootloader/uboot/common/main.o
bootable/bootloader/uboot/common/memsize.o
bootable/bootloader/uboot/common/s_record.o
bootable/bootloader/uboot/common/stdio.o
bootable/bootloader/uboot/disk/.depend
bootable/bootloader/uboot/disk/libdisk.a
bootable/bootloader/uboot/disk/part.o
bootable/bootloader/uboot/disk/part_dos.o
bootable/bootloader/uboot/drivers/bios_emulator/libatibiosemu.a
bootable/bootloader/uboot/drivers/block/libblock.a
bootable/bootloader/uboot/drivers/dma/libdma.a
bootable/bootloader/uboot/drivers/fpga/libfpga.a
bootable/bootloader/uboot/drivers/gpio/libgpio.a
bootable/bootloader/uboot/drivers/hwmon/libhwmon.a
bootable/bootloader/uboot/drivers/i2c/libi2c.a
bootable/bootloader/uboot/drivers/input/libinput.a
bootable/bootloader/uboot/drivers/misc/libmisc.a
bootable/bootloader/uboot/drivers/mmc/libmmc.a
bootable/bootloader/uboot/drivers/mtd/libmtd.a
bootable/bootloader/uboot/drivers/mtd/nand/libnand.a
bootable/bootloader/uboot/drivers/mtd/onenand/libonenand.a
bootable/bootloader/uboot/drivers/mtd/spi/libspi_flash.a
bootable/bootloader/uboot/drivers/mtd/ubi/libubi.a
bootable/bootloader/uboot/drivers/net/libnet.a
bootable/bootloader/uboot/drivers/net/phy/libphy.a
bootable/bootloader/uboot/drivers/pci/libpci.a
bootable/bootloader/uboot/drivers/pcmcia/.depend
bootable/bootloader/uboot/drivers/pcmcia/libpcmcia.a
bootable/bootloader/uboot/drivers/pcmcia/rpx_pcmcia.o
bootable/bootloader/uboot/drivers/pcmcia/tqm8xx_pcmcia.o
bootable/bootloader/uboot/drivers/power/libpower.a
bootable/bootloader/uboot/drivers/rtc/.depend
bootable/bootloader/uboot/drivers/rtc/date.o
bootable/bootloader/uboot/drivers/rtc/librtc.a
bootable/bootloader/uboot/drivers/serial/libserial.a
bootable/bootloader/uboot/drivers/spi/libspi.a
bootable/bootloader/uboot/drivers/twserial/libtws.a
bootable/bootloader/uboot/drivers/usb/gadget/libusb_gadget.a
bootable/bootloader/uboot/drivers/usb/host/libusb_host.a
bootable/bootloader/uboot/drivers/usb/musb/libusb_musb.a
bootable/bootloader/uboot/drivers/usb/phy/libusb_phy.a
bootable/bootloader/uboot/drivers/video/.depend
bootable/bootloader/uboot/drivers/video/cfb_console.o
bootable/bootloader/uboot/drivers/video/libvideo.a
bootable/bootloader/uboot/drivers/watchdog/libwatchdog.a
bootable/bootloader/uboot/examples/standalone/.depend
bootable/bootloader/uboot/examples/standalone/hello_world
bootable/bootloader/uboot/examples/standalone/hello_world.bin
bootable/bootloader/uboot/examples/standalone/hello_world.o
bootable/bootloader/uboot/examples/standalone/hello_world.srec
bootable/bootloader/uboot/examples/standalone/libstubs.a
bootable/bootloader/uboot/examples/standalone/stubs.o
bootable/bootloader/uboot/fs/cramfs/libcramfs.a
bootable/bootloader/uboot/fs/ext2/libext2fs.a
bootable/bootloader/uboot/fs/fat/libfat.a
bootable/bootloader/uboot/fs/fdos/libfdos.a
bootable/bootloader/uboot/fs/jffs2/libjffs2.a
bootable/bootloader/uboot/fs/reiserfs/libreiserfs.a
bootable/bootloader/uboot/fs/ubifs/libubifs.a
bootable/bootloader/uboot/fs/yaffs2/libyaffs2.a
bootable/bootloader/uboot/include/asm
bootable/bootloader/uboot/include/autoconf.mk
bootable/bootloader/uboot/include/autoconf.mk.dep
bootable/bootloader/uboot/include/config.h
bootable/bootloader/uboot/include/config.mk
bootable/bootloader/uboot/include/timestamp_autogenerated.h
bootable/bootloader/uboot/include/version_autogenerated.h
bootable/bootloader/uboot/lib/.depend
bootable/bootloader/uboot/lib/crc16.o
bootable/bootloader/uboot/lib/crc32.o
bootable/bootloader/uboot/lib/ctype.o
bootable/bootloader/uboot/lib/display_options.o
bootable/bootloader/uboot/lib/div64.o
bootable/bootloader/uboot/lib/ldiv.o
bootable/bootloader/uboot/lib/libfdt/libfdt.a
bootable/bootloader/uboot/lib/libgeneric.a
bootable/bootloader/uboot/lib/lzma/liblzma.a
bootable/bootloader/uboot/lib/lzo/liblzo.a
bootable/bootloader/uboot/lib/net_utils.o
bootable/bootloader/uboot/lib/string.o
bootable/bootloader/uboot/lib/strmhz.o
bootable/bootloader/uboot/lib/time.o
bootable/bootloader/uboot/lib/vsprintf.o
bootable/bootloader/uboot/lib/zlib.o
bootable/bootloader/uboot/logo.bin
bootable/bootloader/uboot/net/libnet.a
bootable/bootloader/uboot/post/libpost.a
bootable/bootloader/uboot/tools/.depend
bootable/bootloader/uboot/tools/crc32.o
bootable/bootloader/uboot/tools/default_image.o
bootable/bootloader/uboot/tools/fdt.o
bootable/bootloader/uboot/tools/fdt_ro.o
bootable/bootloader/uboot/tools/fdt_rw.o
bootable/bootloader/uboot/tools/fdt_strerror.o
bootable/bootloader/uboot/tools/fdt_wip.o
bootable/bootloader/uboot/tools/fit_image.o
bootable/bootloader/uboot/tools/image.o
bootable/bootloader/uboot/tools/imximage.o
bootable/bootloader/uboot/tools/kwbimage.o
bootable/bootloader/uboot/tools/md5.o
bootable/bootloader/uboot/tools/mkimage
bootable/bootloader/uboot/tools/mkimage.o
bootable/bootloader/uboot/tools/os_support.o
bootable/bootloader/uboot/tools/sha1.o
bootable/bootloader/uboot/u-boot
bootable/bootloader/uboot/u-boot-code-size-report.txt
bootable/bootloader/uboot/u-boot.bin
bootable/bootloader/uboot/u-boot.lds
bootable/bootloader/uboot/u-boot.map
bootable/bootloader/uboot/u-boot.srec
bootable/bootloader/uboot/uboot_baoxue.bin
checkenv.log
kernel/out/
log
log2
makeMtk.ini
mediatek/config/out/
mediatek/custom/baoxue/cgen/inc/custom_cfg_module_default.h
mediatek/custom/baoxue/cgen/inc/custom_cfg_module_file.h
mediatek/custom/baoxue/common/nand_device_list.h
mediatek/custom/baoxue/common/partition_define.h
mediatek/custom/baoxue/kernel/dct/dct/cust_adc.h
mediatek/custom/baoxue/kernel/dct/dct/cust_eint.h
mediatek/custom/baoxue/kernel/dct/dct/cust_gpio_boot.h
mediatek/custom/baoxue/kernel/dct/dct/cust_gpio_usage.h
mediatek/custom/baoxue/kernel/dct/dct/cust_kpd.h
mediatek/custom/baoxue/kernel/dct/dct/pmic_drv.c
mediatek/custom/baoxue/kernel/dct/dct/pmic_drv.h
mediatek/custom/baoxue/preloader/MTK_Loader_Info.tag
mediatek/custom/common/cgen/inc/cfg_module_default.h
mediatek/custom/common/cgen/inc/cfg_module_file.h
mediatek/custom/common/modem/sunmontech17_ics2_gprs/modem_feature.mak
mediatek/custom/out/
mediatek/platform/mt6577/hardware/audio/custom
mediatek/platform/mt6577/preloader/src/init/inc/preloader.h
mediatek/platform/mt6577/uboot/.depend
mediatek/platform/mt6577/uboot/addr_trans.o
mediatek/platform/mt6577/uboot/bmt.o
mediatek/platform/mt6577/uboot/boot_mode.o
mediatek/platform/mt6577/uboot/disp_assert_layer.o
mediatek/platform/mt6577/uboot/disp_drv.o
mediatek/platform/mt6577/uboot/disp_drv_dbi.o
mediatek/platform/mt6577/uboot/disp_drv_dpi.o
mediatek/platform/mt6577/uboot/disp_drv_dsi.o
mediatek/platform/mt6577/uboot/dpi_drv.o
mediatek/platform/mt6577/uboot/dsi_drv.o
mediatek/platform/mt6577/uboot/irq.o
mediatek/platform/mt6577/uboot/lcd_drv.o
mediatek/platform/mt6577/uboot/libmt6577.a
mediatek/platform/mt6577/uboot/load_image.o
mediatek/platform/mt6577/uboot/lowlevel_init.o
mediatek/platform/mt6577/uboot/mmc_core.o
mediatek/platform/mt6577/uboot/mmc_test.o
mediatek/platform/mt6577/uboot/msdc.o
mediatek/platform/mt6577/uboot/msdc_utils.o
mediatek/platform/mt6577/uboot/mt6577.o
mediatek/platform/mt6577/uboot/mt6577_bat.o
mediatek/platform/mt6577/uboot/mt6577_board.o
mediatek/platform/mt6577/uboot/mt6577_factory.o
mediatek/platform/mt6577/uboot/mt6577_gpio.o
mediatek/platform/mt6577/uboot/mt6577_gpio_init.o
mediatek/platform/mt6577/uboot/mt6577_i2c.o
mediatek/platform/mt6577/uboot/mt6577_meta.o
mediatek/platform/mt6577/uboot/mt6577_nand.o
mediatek/platform/mt6577/uboot/mt6577_pll.o
mediatek/platform/mt6577/uboot/mt6577_pmic6329.o
mediatek/platform/mt6577/uboot/mt6577_pwm.o
mediatek/platform/mt6577/uboot/mt6577_recovery.o
mediatek/platform/mt6577/uboot/mt6577_rtc.o
mediatek/platform/mt6577/uboot/mt6577_sleep.o
mediatek/platform/mt6577/uboot/mt65xx_disp_drv.o
mediatek/platform/mt6577/uboot/mt65xx_leds.o
mediatek/platform/mt6577/uboot/mt65xx_logo.o
mediatek/platform/mt6577/uboot/mt65xx_partition.o
mediatek/platform/mt6577/uboot/mtk_auxadc.o
mediatek/platform/mt6577/uboot/mtk_key.o
mediatek/platform/mt6577/uboot/mtk_serial.o
mediatek/platform/mt6577/uboot/mtk_timer.o
mediatek/platform/mt6577/uboot/mtk_wdt.o
mediatek/platform/mt6577/uboot/partition_mt.o
mediatek/source/cgen/APDB_MT6577_S01_MAIN2.1_W10.24
mediatek/source/cgen/Cgen_db.err
mediatek/source/cgen/_APDB_MT6577_S01_MAIN2.1_W10.24.check
mediatek/source/cgen/flagsInfo
mediatek/source/external/bluetooth/driver/custom
mediatek/source/external/boot_logo_updater/custom
mediatek/source/external/combo_tool/cfg_folder
mediatek/source/external/combo_tool/patch_folder
mediatek/source/external/fmradio/custom1
mediatek/source/external/mhal/src/custom/common
mediatek/source/external/mhal/src/custom/inc
mediatek/source/external/nonNDK/CppHeaderParser.pyc
mediatek/source/external/nonNDK/lex.pyc
mediatek/source/external/nonNDK/relpath.pyc
mediatek/source/frameworks/featureoption/java/
mediatek/source/hardware/sensor/hwmsen/custom
mediatek/source/kernel/trace32/baoxue_ramdisk.img
mediatek/source/misc/
mediatek/source/packages/Bluetooth/build/AndroidManifest.xml
mediatek/source/preloader/bin/
mediatek/source/preloader/function.map
mediatek/source/preloader/out/
mediatek/source/preloader/preloader_baoxue.bin
mediatek/source/preloader/system.map
out/
v8.log
*.zip
mediatek/source/preloader/report-codesize.csv
mediatek/source/preloader/report-codesize.txt
mediatek/source/preloader/report-objsize.txt
